{% extends 'blog/base.html' %} 

{% block title %} 
	{{ title }}
{% endblock %}



{% block content %}

<h1 class="text_shadow">qqq{{ title }}</h1>
<hr>

<iframe width="560" height="315" src="https://www.youtube.com/embed/03Sb_K6u8l8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br><br>
<div class="ratio ratio-16x9">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/03Sb_K6u8l8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br><br>

<div class="ratio ratio-16x9">
	<iframe src="https://www.youtube.com/embed/03Sb_K6u8l8" title="YouTube video player"></iframe>
</div>

{% endblock %}