

<!-- Колличество комментариев -->
<p style="font-size: 1.2em">Комментарии: {{ all_comments_for_video.all.count }}</p>

{% if request.user.is_authenticated %} <!-- авторизован ли? -для добавление коммментария -->


	<!-- Гипер важно, в action - url = 127/add-comment/<int:pk_video>/ - этой страницы даже не существует, но путь нужен для того чтобы выполнить функцию, в нашем случае функция это вложенный тег! - show_form_comment_video -->
	<!-- pk_video в action - взято имено из urls.py, там оно взято из вложенного тега -->
	<!-- video_obj - это одна запись конкретного видео -->
	<!-- video_obj = VideoYouTubeRuTube.objects.get(pk=pk_video) -->
	<!-- video_obj.pk - id записи видео -->
	<!-- video_obj.name - имя записи видео -->
	<!-- id="{{ video_obj.name }}" = <button form="{{ video_obj.name }}" здесь условие обязательное, это отношение конкретной кнопки к конкретной форме, а у нас на странице video_all - много кнопок и много форм! -->
<!-- форма для создания комментария к каждому видео -->


<form action="{%  url 'add_comment' pk_video=video_obj.pk %}" method="post" id="{{ video_obj.name }}">
{% csrf_token %}
	<div class="col-12" >{{ form.as_p }}</div>
</form>

<!-- кнопка для создания комментария к каждому видео -->
<button form="{{ video_obj.name }}" type="submit" class="btn btn-outline-info btn-md">
	Добавить комментарий
</button>

{% else %} <!-- НЕ авторизован -для добавление коммментария -->

<p style="font-size: 1.2em" class="text-info">
	Авторизуйтесь чтобы добавить комментарий.
</p>

{% endif %} <!-- авторизован ли? -для добавление коммментария -->





<!-- если у видео есть комментарии -->
{% if all_comments_for_video.all.count > 0 %}

<!-- логика и кнопка разворачивания списка комментариев -->

  <button class="btn btn-outline-dark ps" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ video_obj.pk }}" aria-expanded="false" aria-controls="collapse{{ video_obj.pk }}">
    Посмотреть комментарии
  </button>



<!-- сворачиваемое содержимое bootstrap -->
<div class="collapse" id="collapse{{ video_obj.pk }}">

	<!-- Вывод списка комментариев, относящихся к каждому видео -->
	<p style="font-size: 1.2em">Все комментарии к видео:</p>
	<!-- перебор всех комментариев к конкретному видео -->
	{% for com in all_comments_for_video %}
	<ul class="list-group">
		
		<li class="list-group-item list-group-item-dark"> 
			<div class="d-flex justify-content-between"> <!-- внешний флекс -->
				<div class="bd-highlight"><!-- автор к -->
					{{ com.author_comment }}:
				</div><!-- автор к -->

				<!-- дата | лайк -->
				<div class="bd-highlight text-secondary">
					<div class="d-flex flex-row bd-highlight">
						<div class="pe-2 bd-highlight"><!-- дата -->
						{{ com.time_create |date:'d.m.Y H:i' }}
						</div><!-- дата -->

						<div class="ps-2 bd-highlight"><!-- лайк -->
							Лайк
						</div><!-- лайк -->
					</div>
				</div>
			</div><!-- внешний флекс -->
		</li>
		<li class="list-group-item list-group-item-light">{{ com.text_comment}}</li>
	</ul>
	<br>
	{% endfor %}<!-- переблр комментариев к видео -->
</div>

{% endif %}<!-- если у видео есть комментарии -->



