<div class="col-lg-2 bg-dark bg-gradient">
	<br>
	<ul class="nav flex-column text_side" >

		<li class="nav-item">
		    <a class="nav-link active text-warning pb-2" aria-current="page" href="{% url 'video_add' %}">Загрузить видео</a>
		</li>
		<hr>


		{% if sidebar_selected == 'all' %}		
		<li class="nav-item">
			<a class="nav-link disabled" href="{% url 'video_all' %}" tabindex="-1" aria-disabled="true">Все видео</a>
		</li>
		{% else %}
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{% url 'video_all' %}">Все видео</a>
		</li>
		{% endif %}




{% if request.user.is_authenticated %} <!-- если залогинен -->

		{% if sidebar_selected == 'bookmarks' %}		
		<li class="nav-item">
			<a class="nav-link disabled" href="{% url 'video_bookmarks' %}" tabindex="-1" aria-disabled="true">Добавленные</a>
		</li>
		{% else %}
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{% url 'video_bookmarks' %}">Добавленные</a>
		</li>
		{% endif %}	

		{% if sidebar_selected == 'my' %}		
		<li class="nav-item">
			<a class="nav-link disabled" href="{% url 'video_my' %}" tabindex="-1" aria-disabled="true">Мои видео</a>
		</li>
		{% else %}
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{% url 'video_my' %}">Мои видео</a>
		</li>
		{% endif %}	



		<hr>
		<br><br><br><br>

		<li class="nav-item">
		    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Категория видео 1</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Категория видео 2</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Видео от пользователей<br> (фильтр по имени)</a>
		</li>

{% endif %} <!-- если залогинен -->	



	</ul>
	<br>
</div>