{% extends 'video/video_base.html' %} 

<!-- django-embed-video -->
<!-- но и без этого работает(может быть нужно в продакшене) -->
<!-- {% load embed_video_tags %} -->


<!-- вызов файла с собстенными тегами -->
{% load video_tags %}

{% load static %}

{% block title %} 
	{{ title }}
{% endblock %}


{% block content %}

<!-- всплывающее окно  -->
<div class="text-center text-info">
	{% if messages %}
		{% for m in messages %}
			<h5>{{ m }}</h5>
		{% endfor %}
	{% endif %}
</div>


<h1 class="text_shadow">{{ title }}</h1>




<div class="container-fluid">
	<div class="row">

		<!-- video = VideoYouTubeRuTube.objects.all() -->
		{% for v in video %} <!-- перебираю все видео -->
		<div class="col-xl-6 pt-2 ps-5 pe-5">

			<hr>

			<h4 class="text-center">{{ v.name }}</h4>

				<!-- Первоисточник: <a href="{{v.video_url}}" class="link-secondary">{{v.video_url}}</a> -->

			<div class="ratio ratio-16x9">
				<!-- {{ v.safe_url }} - Это метод модели! получение ссылки разработчика -->
				<iframe src="{{ v.safe_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>


				

			<div class="d-flex justify-content-between"> <!-- внешний флекс -->
				<div class="bd-highlight mt-2">

					<!-- Если пк пользователя = пк автора статьи или 1 -->
					{% if request.user.pk == v.author_video.pk or request.user.pk == 1 %}

					<a class="btn btn-sm pe-0" href="{% url 'video_update' pk_video=v.pk %}">
						<img src="{% static 'blog/images/update.png' %}" height="24" width="24" class="img-fluid pb-2">
					</a>

					<a class="btn btn-sm ps-0" href="{% url 'video_delete' pk_video=v.pk %}">
						<img src="{% static 'blog/images/delete.png' %}" height="24" width="24" class="img-fluid pb-2">
					</a>

					{% endif %} <!-- Если пк пользователя = пк автора статьи или 1 -->

					<span class="h5">
					Отправил: {{ v.author_video }}</span>
				</div>
				<div class="bd-highlight pt-3">
					Счётчик просмотров: <span class="text-info">7</span>
				</div>
			</div>			


			<!-- Этот вложенный тег = реакциям для одного видео, сколько видео столько и тегов, вызвали в цикле -->
			<!-- вызываем вложенный тег = show_all_ralations_to_video -->
			<!-- request - обязательный первый параметр вложенного тега -->
			<!-- v.pk - второй параметр тега, т.е делаем из pk_video=None -> в pk_video=v.pk -->
			{% show_all_ralations_to_video request v.pk %}



			<hr>
		</div>
		{% endfor %}<!-- перебираю все видео -->
	</div><!-- row -->
</div><!-- container -->



{% endblock %}

