CAR.HTML

{% if rating > 0 %}
<h5>Рейтинг статьи: {{ rating }}  - из 5.</h5>
<hr>
{% endif %}

{% if request.user.is_authenticated %} <!-- если залогинен -->

	<!--  если уже как то реагировал на статью -->
	{% if my_rel != 0 %}

	<p>Лайк = {{ my_rel.is_like_post }} /
	Закладки = {{ my_rel.is_bookmarks_post }} /
	Личный рейтинг = {{ my_rel.rate }}</p>
	<hr><br><br>

	<a href="#" class="btn btn-outline-info btn-lg">[Заглушка] - добавь форму и маршрут для изменения оценки статьи - от 1 до 5</a>
	<br><br>

	<!-- если лайк стоит -->
	{% if my_rel.is_like_post == True %}
	<a href="#" class="btn btn-outline-info btn-lg">[Заглушка] - Кнопка и маршрут убрать лайк</a>
	<br><br>
	{% else %}<!-- если лайк не стоит -->
	<a href="#" class="btn btn-outline-info btn-lg">[Заглушка] - Кнопка и маршрут поставить лайк</a>
	<br><br>
	{% endif %}<!-- если лайк стоит -->

	<!-- если в закладнах -->
	{% if my_rel.is_bookmarks_post == True %}
	<a href="#" class="btn btn-outline-info btn-lg">[Заглушка] - Галочка стоит - маршут убрать закладку</a>
	<br><br>
	{% else %}<!-- если не в закладнах -->
	<a href="#" class="btn btn-outline-info btn-lg">[Заглушка] - Галочка не стоит - маршут добавить закладку</a>
	<br><br>
	{% endif %}<!-- если в закладнах -->





	{% else %}<!-- если не реагировали -->

	<h4 class="text-info">Вы ещё не реагировали на данную статью.</h4>
	<a href="#" class="btn btn-outline-warning btn-lg">[Заглушка] - добавь форму и маршрут оценки статью - от 1 до 5</a>
	<br><br>
	<a href="#" class="btn btn-outline-warning btn-lg">[Заглушка] - добавь кнопку и маршрут - неактивную для лайка</a>
	<br>
	<br>
	<a href="#" class="btn btn-outline-warning btn-lg">[Заглушка] - добавь кнопку/галочку и маршрут - неактивную для закладки</a>




	{% endif %}<!--  если уже как то реагировал на статью -->

{% else %}

<h4 class="text-light">Только авторизованные пользователи могут реагировать на статью</h4>
<a href="#" class="btn btn-outline-info btn-lg">[заглушка] добавь кнопку войти</a>
<a href="#" class="btn btn-outline-warning btn-lg">[заглушка] добавь кнопку регистрации</a>

{% endif %} <!-- если залогинен -->


<br><br><br>

Здесь ЗАГОЛОВОГ HTML




_______________________________________________________
blog/VIEWS.PY

class ShowCar(SuccessMessageMixin, DataMixin, DetailView, FormMixin):
	....
	........
	.....
	....

	# метод получения рейтинга поста
    def get_rating(self, **kwargs):
        # получение всех записей, отношений к данному посту
        users_ralations = UserCarRelation.objects.filter(car_relation__slug=self.kwargs['car_slug'])
        sum_rate = 0  # промежуточная переменная - сумма всех рейтингов
        # если количество записей отношений больше нуля 0
        if users_ralations.count() > 0:
            # перебираем все записи отношений
            for one_relation in users_ralations:
                # в промежуточную переменную прибавляем рейтинг отдельной записи
                sum_rate += one_relation.rate
            # полную сумму оценок делим на количество оценок и получаем рейтинг
            rating = sum_rate / users_ralations.count()
        else:
            rating = 0
        return rating


    # Личная оценка пользователя
    def get_my_rel(self, **kwargs):
        # пробуем получить объект (запись по реакции нашего пользователя)
        # по конкретной статье и конкретному пользователю
        try:
            # если объект найдём - реакция пользователя = этот объект
            my_rel = UserCarRelation.objects.get(user_relation__pk=self.request.user.pk,
                                                 car_relation__slug=self.kwargs['car_slug'])

        except UserCarRelation.DoesNotExist:  # если объекта не существует
            my_rel = 0  # реакции пользователя = 0
        # возвращаем реакции конкретного пользователя если
        return my_rel



    def get_context_data(self, object_list=None, **kwargs):
    	......
    	c_def = self.get_user_context(cat_selected=self.kwargs['cat_slug'],
                                      rating=self.get_rating(),  # получаю рейтинг - УДАЛИЛ
                                      my_rel=self.get_my_rel())  # получаю реакции - УДАЛИЛ

_______________________


relatepost/forms.py

DELETE

from django import forms
from relatepost.models import UserCarRelation


# форма рейтинга поста
class UserCarRelationRateForm(forms.ModelForm):
    class Meta:
        model = UserCarRelation
        fields = ['rate',]


_______________


blog/views.py

DELETE


# форма рабочая (рейтинг статьи)
def rate_post_form(request, cat_slug, car_slug):
    car = Car.objects.get(slug=car_slug)
    if request.method == 'POST':
        form = UserCarRelationRateForm(request.POST)
        if form.is_valid():
            usercarrelation = form.save(commit=False)
            usercarrelation.user_relation = request.user
            usercarrelation.car_relation = car
            usercarrelation.save()
            return redirect('car', cat_slug, car_slug)
    else:
        form = UserCarRelationRateForm()

    qs = UserCarRelation.objects.all()
    context = {'form': form, 'qs': qs, 'car': car,}
    return render(request, 'blog/add_rate_post.html', context=context)

______________________________________

Из blog/urls.py удаляю маршрут



path('category/<slug:cat_slug>/<slug:car_slug>/rate_car/', rate_post_form, name='rate_car'),
___________________________________________________

см (add_rating_post)



_______________________________________-
relatepost/models.py

# отношение пользователя к посту
class UserCarRelation(models.Model):
    RATE_CHOICES = (
        (1, 'Совсем плохо'),
        (2, 'Плохо'),
        (3, 'Нормально'),
        (4, 'Хорошо'),
        (5, 'Отлично'),
    )

    # какой пользователь
    user_relation = models.ForeignKey(User, on_delete=models.CASCADE, verbose_name='Оценивающий пользователь')
    # какой пост
    car_relation = models.ForeignKey(Car, on_delete=models.CASCADE, verbose_name='оцениваемый пост',
                                     related_name='relation_from_user')
    # лайк на пост
    is_like_post = models.BooleanField(default=False, verbose_name='Лайк поста')
    # добавление в закладки
    is_bookmarks_post = models.BooleanField(default=False, verbose_name='Пост в закладке')
    # оценка поста
    rate = models.PositiveSmallIntegerField(choices=RATE_CHOICES, null=True, verbose_name='Личная оценка поста')

    class Meta:
        verbose_name = 'Отношение пользователя к посту'
        verbose_name_plural = 'Отношения пользователей к постам'

    def __str__(self):
        return f'Пользователь: {self.user_relation.username} - Статья: {self.car_relation}, Л_оценка: {self.rate}.'