{% extends 'blog/base.html' %} 


{% block title %} 
    {{ title }} Рейтинг поста
{% endblock %}


{% block content %}

{{car_slug}}<br>
{{cat_slug}}<br>

<h1>qq{{car.all}}</h1>
{{car.slug}}<br>
{{car.cat.slug}}<br><br><br>
{{qs}}
<br><br>
{% for relate in qs %}
!!! {{ relate }}
<br>
{% endfor %}

<br>
<form action="{% url 'rate_car' car_slug=car.slug cat_slug=car.cat.slug %}" method="post"> 
    {% csrf_token %}
    <div class="text-info">{{ form.non_field_errors }}</div>
    {{ form.as_ul }}
    <div class="text-info">{{ form.errors }}</div>
    <button type="submit" class="btn btn-primary btn-lg">
        Сохранить
    </button>
</form>    






{% endblock %}
