{% extends 'blog/base.html' %} 
{% load static %}

{% block title %} 
	{{ car.title }}
{% endblock %}


{% block content %}



<!-- если реакции есть -->
{% if relation != 'no' %}
	{% for r in relation %} <!-- перебираем поля реакций -->
		<h3>Пользователь - {{ r.user_like_mark }}</h3>
		<h3>Статья - {{ r.post_like_mark }}</h3>
		<h3>Лайк - {{ r.is_like_post }}</h3>
		<h3>Закладка - {{ r.is_bookmarks_post }}</h3>
		<br>
		{% if r.is_like_post == True %} <!-- если лайк стоит -->
			<h3 class="text-info">Лайк есть</h3>
		{% else %} <!-- если лайк не стоит -->
			<h3 class="text-info">Нет лайка</h3>
		{% endif %}<!-- если лайк стоит -->
	{% endfor %} <!-- перебираем поля реакций -->

{% else %} <!-- если нет реакций -->	
	<h3 class="text-danger">Нет реакции от пользователя</h3>
{% endif %} <!-- если реакции есть -->









<hr>

<h1 class="text_shadow">{{ car.title }}</h1>
<hr>
<br>


<div class="container-fluid" >
	<div class="row">

		<div class="col-8">
			{% if car.photo %}
			<img src="{{ car.photo.url }}" class="img-fluid rounded"><br>
			{% endif %}
			<a href="{{ car.cat.get_absolute_url }}" class="nav-link active">
				<p>Производство: {{ car.cat }}</p>
			</a>
			<h3 class="text_desc">Описание модели</h3>
			<hr>
			<p>{{ car.content|linebreaks }}</p><br>
			<h3 class="text_desc">Технические характеристики</h3>
			<hr>
			<p>{{ car.tth|linebreaks}}</p><br>
		</div>


		<div class="col-4">


			<ul class="list-group">
				<li class="list-group-item list-group-item bg-dark bg-gradient text-white">
					<h3>Автор статьи: {{ car.author }}</h3>
				</li>
				<li class="list-group-item list-group-item-secondary">
					<div class="d-flex justify-content-between">
						<div class="pt-2 bd-highlight">
							<p style="font-size: 1.2em;">Рейтинг: 4.73</p>
						</div>



{% if request.user.is_authenticated %} <!-- если залогинен  для лайк закл и рейтинг -->	

						<!-- кнопки лайк и закдадка -->
  						<div class="mb-0 bd-highlight">
						
						<!-- если реакции есть -->
						{% if relation != 'no' %}

							{% for r in relation %} <!-- перебираем поля реакций -->

								<!-- закладки -->
								{% if r.is_bookmarks_post == True %} <!-- если в закладках -->
									<a class="btn" href="{% url 'bookmark_post' car_slug=car.slug cat_slug=car.cat.slug %}">
										<img src="{% static 'blog/images/bookmark-on.png' %}" height="32" width="32" class="img-fluid">
									</a>
								{% else %} <!-- если НЕ закладках -->
									<a class="btn" href="{% url 'bookmark_post' car_slug=car.slug cat_slug=car.cat.slug %}">
										<img src="{% static 'blog/images/bookmark-off.png' %}" height="32" width="32" class="img-fluid">
					    			</a>
				    			{% endif %} <!-- если в закладках -->


	  							<!-- лайк -->
	  							{% if r.is_like_post == True %} <!-- если лайк стоит -->
		  							<a class="btn" href="{% url 'like_post' car_slug=car.slug cat_slug=car.cat.slug %}">
										<img src="{% static 'blog/images/heart-on.png' %}" height="32" width="32" class="img-fluid">
					    			</a>10
				    			{% else %} <!-- если лайк не стоит -->
									<a class="btn" href="{% url 'like_post' car_slug=car.slug cat_slug=car.cat.slug %}">
										<img src="{% static 'blog/images/heart-off.png' %}" height="32" width="32" class="img-fluid">
									</a>9							
								{% endif %}<!-- если лайк стоит -->

			    			{% endfor %} <!-- перебираем поля реакций -->



			    		{% else %} <!-- если реакций от пользователя нет -->
			    			<!-- неактивная закладка -->
							<a class="btn" href="{% url 'bookmark_post' car_slug=car.slug cat_slug=car.cat.slug %}">
								<img src="{% static 'blog/images/bookmark-off.png' %}" height="32" width="32" class="img-fluid">
			    			</a>
			    			<!-- неактивный лайк -->
			    			<a class="btn" href="{% url 'like_post' car_slug=car.slug cat_slug=car.cat.slug %}">
								<img src="{% static 'blog/images/heart-off.png' %}" height="32" width="32" class="img-fluid">
							</a>
			    		{% endif %} <!-- если реакции есть -->
		    			</div>
		    		</div>
				</li>


				<li class="list-group-item list-group-item-success bg-gradient">

					<!-- форма звёзд -->
						<form action="{% url 'add_rating' %}" method="post" name="rating">
							<b>Оцените статью:</b>
							{% csrf_token %}
							<!-- скрытое поле -->
							<input type="hidden" value="{{ car.id }}" name="car">
							<span class="rating">
								<!-- in форма.поля.поле стар -->
								{% for k, v in star_form.fields.star.choices %}
									<input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
									<label for='rating{{ v }}'>
										<!-- {{ k }} Если поставить k - то будет дубликат непонятно почему!-->
									</label>
								{% endfor %}
							</span>			
						</form>
				</li>
{% endif %} <!-- если залогинен  для лайк закл и рейтинг -->
			</ul>
			

			<!-- если автор статьи или администатор -->
			{% if car.author == request.user or request.user.id == 1 %}
			<span class="text-secondary">Обновлено: {{ car.time_update }}</span>

			<h1>
			<!-- Редактировать статью -->
			<a class="btn btn-outline-warning btn-lg" href="{% url 'update_post' car_slug=car.slug cat_slug=car.cat.slug %}">
				<span class="material-symbols-rounded">edit</span>
			</a>
			<!-- Удалить статью -->
			<a class="btn btn-outline-danger btn-lg" href="{% url 'delete_post' car_slug=car.slug cat_slug=car.cat.slug %}">
				<span class="material-symbols-rounded">delete</span>
			</a>
			</h1>

			{% else %}<!-- не автор статьи и не администатор -->

			<p class="text-info">Вы не можете редактировать эту статью</p>
			
			{% endif %}<!-- если автор статьи или администатор -->


			<!-- Комментарии -->
			<br><br>
			<h3 class="text_desc">Комментарии к посту</h3>
			<hr>


			<p>Комментарии: {{ car.comment_car.all.count }}</p>

			<!-- если залогинен -->
			{% if request.user.is_authenticated %}
			
			<form action="" method="post" id="add_comment" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="col-12" >{{ form.as_p }}</div>
			</form>
				
			
			<button form="add_comment" type="submit" class="btn btn-outline-info btn-md">
				Добавить комментарий
			</button><br><br>


			{% else %}<!-- не залогинен -->

			<p class="text-white">Только авторизованные пользоваетли могут видеть и оставлять комментарии. Пожалуйста войдите в ствой аккаунт или зарегистрируйтесь.</p>

			<a class="btn btn-outline-info btn-lg" href="{% url 'login' %}">Войти</a>
			<a class="btn btn-outline-warning btn-lg" href="{% url 'register' %}">Зарегистрироваться</a>
			

			{% endif %}<!-- если залогинен -->





			<!-- Всплывающее сообщение -->
			{% if messages %}
			<ul class="list-group">
				<li class="list-group-item list-group-item-success">
				{% for m in messages %}
					{{ m }}
				{% endfor %}
				</li>
			</ul>
			{% endif %}	

			<!-- Обращение к комментарию из объекта с помощью related_name='comment_car'
			из class Comment(models.Model): - car_post -->
			<!-- <p>{{ car.comment_car.all }}</p> -->

			<!-- ПЕРЕБИРАЮ ВСЕ КОММЕНТАРИИ К ПОСТУ	 -->
			{% for one_coment in car.comment_car.all reversed  %}

			{% if request.user.is_authenticated %} <!-- если залогинен -->

			<ul class="list-group"><!--  начало списка (1 комментарий) -->
				<li class="list-group-item list-group-item bg-secondary bg-gradient text-white">

					<div class="d-flex bd-highlight mb-0">
						<div class="p-0 bd-highlight" style="font-size: 1.5em">{{ one_coment.author_comment }}</div>


						<div class="p-0 bd-highlight ms-auto">

							<!-- перебираю все LikeComment записи (все лайки к коменту) -->
							
							{% for user_likes in one_coment.comment_like.all %}
																
							<!-- ЕСЛИ ПОСТАВИЛ ЛАЙК -->
							{% if request.user == user_likes.user %}
							&#9989;





							{% endif %}<!-- ЕСЛИ ПОСТАВИЛ ЛАЙК -->

							{% endfor %}<!-- перебираю все лайки к коменту-->

							
							<!-- ЛАЙК КНОПКА -->
							<a class="btn" href="{{ one_coment.get_absolute_url }}">
								<span class="material-symbols-rounded">thumb_up</span>
							</a>
							
							<!-- кнопка на будущее , вместо галочки рядом со сделанным лайком -->
							<!-- <a class="btn" href="{{ one_coment.get_absolute_url }}">
								<span class="material-symbols-outlined">thumb_up</span>
							</a>-->						

							<!-- если количество лайков больше 0 - ПОКАЖУ КОЛИЧЕСТВО -->
							{% if one_coment.comment_like.all|length > 0 %}
							<span style="font-size: 1.2em" class="text-white">  {{ one_coment.comment_like.all|length }} </span>
							{% endif %} <!-- если количество лайков больше 0 -->

						</div>
					</div>
				</li>

				<!-- ТЕКСТ КОММЕНТАРИЯ -->
				<li class="list-group-item list-group-item-light">{{ one_coment.text_comment|linebreaks }}</li>
				<!-- ДАТА КОММЕРИЯ -->
				<li class="list-group-item list-group-item-secondary">{{ one_coment.time_create_comment }}</li>



				<!-- Если пользователь автор коммента или админ (id 1) -->
				{% if request.user.id == one_coment.author_comment.id or request.user.id == 1 %}

				<!-- КНОПКА УДАЛЕНИЕ КОММЕНТАРИЯ -->
				<li class="list-group-item list-group-item-secondary">
					<a href="{% url 'delete_comment' car_slug=car.slug cat_slug=car.cat.slug com_id=one_coment.pk %}" class="btn btn-outline-danger btn-sm">
						Удалить комментарий
					</a>
				</li>

				{% endif %}<!-- Если пользователь автор коммента или админ (id 1) -->






			</ul> 

			<br><br>

			{% endif %} <!-- если  залогинен -->


			{% endfor %}<!-- ПЕРЕБИРАЮ ВСЕ КОММЕНТАРИИ К ПОСТУ	 -->


		</div>	
	</div>
</div>


{% endblock %}