{% extends 'blog/base.html' %} 


{% block title %} 
	{{ car.title }}
{% endblock %}


{% block content %}



<h1 class="text_shadow">{{ car.title }}</h1><br>


<div class="container-fluid" >
	<div class="row">
		<div class="col-6">
			{% if car.photo %}
			<img src="{{ car.photo.url }}" class="img-fluid"><br>
			{% endif %}
			<a href="{{ car.cat.get_absolute_url }}" class="nav-link active">
				<p>Производство: {{ car.cat }}</p>
			</a>
			<h3 class="text_desc">Технические характеристики</h3>
			<p>{{ car.tth|linebreaks}}</p><br>



			<h3>Автор: {{ car.author }}</h3>
			<p class="text-muted">Время обновления поста: {{ car.time_update }}</p>

			{% if car.author == request.user or request.user.id == 1 %}

			<a class="btn btn-warning" href="{% url 'update_post' car_slug=car.slug cat_slug=car.cat.slug %}">Редактировать статью</a>
			<a class="btn btn-danger" href="{% url 'delete_post' car_slug=car.slug cat_slug=car.cat.slug %}">Удалить статью</a>

			{% else %}

			<p class="text-info">Вы не можете редактировать эту статью</p>
			
			{% endif %}

		</div>
		<div class="col-6">
			<h3 class="text_desc">Описание модели</h3>
			<p>{{ car.content|linebreaks }}</p><br>
		</div>		
	</div>
</div>


{% endblock %}