{% extends 'blog/base.html' %} 

{% block title %} 
	{{ title }}
{% endblock %}


{% block content %}

<h1>{{ title }}</h1><br>
<p>Автомоби́ль — моторное безрельсовое дорожное и/или внедорожное, чаще всего автономное, транспортное средство, используемое для перевозки людей и/или грузов. Основное назначение автомобиля заключается в совершении транспортной работы. Автомобильный транспорт в промышленно развитых странах занимает ведущее место по сравнению с другими видами транспорта по объёму перевозок пассажиров. Современный автомобиль состоит из 15—20 тысяч деталей</p>
<p>{{ key_2 }}</p>

{% endblock %}